<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I have been currently working as <strong>Software Engineer</strong> where I had experienced on fields like Python programming language, Data Cleaning, Chatbots development and Embedded Product Maintenance.
      I graduated with Bachelor of Engineering degree with Electronics and Communication domain in 2015.


    </p>

    <p>
      <strong>In the leisure time,</strong>, I invest my time learning new technologies like Deep Learning mathematical calculation, Natural language Processing prediction and related fields. I also like to contribute in the open source communities like Kaggle and Github.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
