<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I have around 5+ years total experience as a <strong>Software/Data Engineer </strong>with technologies and languages like Python, AWS services, Docker, Data Engineering, Framework development. Currently, I have been enrolled in Big Data Analytics course at Lambton College, Mississauga, ON since Fall 2021.

    </p>

    <p>
      <strong>In the leisure time,</strong>, I invest my time learning new technologies like Cloud Computing, Hybrid Cloud technologies, Big Data tech and its related fields. I also like to contribute in the open source communities like Kaggle and Github.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
