<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am currently working as Python Automation Engineer in
      <a class="underline-link" href="https://www.einfochips.com/" target="_blank">Einfochips An Arrow Company</a>. I graduated from Gujarat Technological University in 2015, afterwhich I gradually started understand the impacts of plethora of available technologies in day to day life.


    </p>

    <p>
      <strong>In terms of my behaviour and attitude &mdash; </strong> I am a conscientious person who works hard and pays attention to detail. Along with that, I'm also inquisitive nature who always intrigue to learn from the surroundings. My passion is to make chatbots for various platform like google assistant, alexa, facebook messenger and skype.
    </p>

    <p>
      <strong>In the leisure time,</strong>, I invest my time playing arcade as well as open world high graffic integrated computer games to develop the strategical thinking and logical capability in myself. My favourite games are Maxpayne, Watchdogs, Call of Duty, Hitman and Hot Pursuit.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
