<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project different voice">
      <figure class="project__pic">
        <a href="https://sites.google.com/view/differentvoice/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/differentvoice/different-voice-3.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://sites.google.com/view/differentvoice/" target="_blank">Different Voice</a>
        </div>
        <p>Different voice is a Google Assistant skill which leverages the usage of SSML feature and return the user's query in different voice  outputs.</p>
      </figcaption>
    </div>

   

    <div class="project Pi-Assistant">
      <figure class="project__pic">
        <a href="https://sites.google.com/view/pi-assistant/home" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/pi_images.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://sites.google.com/view/pi-assistant/home" target="_blank">Pi-Assistant</a>
        </div>
        <p>Pi-Assistant is an Artificial Intelligence based messenger chatbot which served as an personal home assistant with the help of Facebook messenger and Raspberry Pi and electric appliances.</p>
      </figcaption>
    </div>
  </div>
</section>
