<section class="section skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <!-- <p>I’ve picked up quite a few skills during the course of my three co-ops, and aim to improve these skills everyday. Here are a few of the technologies that I have experience with:</p> -->
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">Languages</div>
        <ul>
          {% for language in site.data.skills.languages %}
          <li class="skillz__category__item">{{language.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Operating-System</div>
        <ul>
          {% for operating_system in site.data.skills.Operating-System.%}
          <li class="skillz__category__item">{{Operating.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Continuous-Integration-Tool:</div>
        <ul>
          {% for tool in site.data.skills.Continuous-Integration-Tool: %}
          <li class="skillz__category__item">{{tool.item}}</li>
          {% endfor %}
        </ul>
      </div>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Version-Control</div>
        <ul>
          {% for version in site.data.skills.Version-Control %}
          <li class="skillz__category__item">{{version.item}}</li>
          {% endfor %}
        </ul>
      </div>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Hardware-used</div>
        <ul>
          {% for hardware in site.data.skills.Hardware-used %}
          <li class="skillz__category__item">{{hardware.item}}</li>
          {% endfor %}
        </ul>
      </div>            
      <div class="skillz__category">
        <div class="skillz__category__label">Design</div>
        <ul>
          {% for thing in site.data.skills.design %}
          <li class="skillz__category__item">{{thing.item}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
